@media (max-width: 767px) {
  /* Componentes descartados para a versão mobile */
  div.sidebar, button.buttonSidebar, .container
    > main
    > section#comands
    > div#area-comands-table
    > div#comands-table
    > section#table-sidebar
    > div#list-comands
    > div.buttons,
  .container > header > nav > ul > li > div#button-header > input,
  a#button-reports,
  .container > header > #header_title > br,
  div.notifications,
  div.buttons.button-interface, .container > main > section#reports {
    display: none;
  }
  /* Fim dos componentes descartados para a versão mobile */

  .txt01 {
    grid-row: 2 !important;
    grid-column: 1 !important;
  }
  .txt02 {
    grid-row: 3 !important;
    grid-column: 1 !important;
  }
  .txt03 {
    grid-row: 4 !important;
    grid-column: 1 !important;
  }

  body > #root > .container {
    background-color: #252525;
    display: grid;
    grid-template-rows: 180px 1fr;
    grid-template-columns: 1fr;
  }

  .container > header {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    top: -1px;
  }

  .container > header > #header_title {
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }

  .container > header > #header_title > h2 {
    margin-top: 5px;
    margin-bottom: 30px;
  }

  .container > main {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr 1fr 1fr;
    padding: 5px;
  }

  .container > main > section#introduction {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
  }

  .container > main > section#introduction > #image {
    width: 93%;
  }

  #image {
    grid-row: 1 !important;
    grid-column: 1 !important;
  }

  .container > main > section#introduction > div#text {
    width: 93%;
    margin: 4px !important;
    font-size: 1.1rem;
  }

  .container > main > section#comands {
    height: 100%;
    width: 100%;
    padding-top: 0px;
    margin-top: 0px;
  }

  .container > main > section#comands > div#area-comands-table {
    width: 90%;
    margin-left: 18px;
  }

  .container
    > main
    > section#comands
    > div#area-comands-table
    > div#comands-table {
    height: 70%;
    width: 100%;
    grid-template-columns: 1fr;
  }

  .container
    > main
    > section#comands
    > div#area-comands-table
    > div#comands-table
    > section#table-comands
    > div#content-table {
    flex-wrap: nowwrap;
  }

  .container
    > main
    > section#comands
    > div#area-comands-table
    > div#comands-table
    > section#table-sidebar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    grid-row: 2;
  }

  .container
    > main
    > section#comands
    > div#area-comands-table
    > div#comands-table
    > section#table-sidebar
    > div#list-comands {
    position: baseline !important;
  }

  .container
    > main
    > section#comands
    > div#area-comands-table
    > div#comands-table
    > section#table-comands
    > div#content-table {
    font-size: 1em;
  }

  .container > main > section#expressions {
    padding-top: 0px !important;
    margin-top: 0px !important;

    & h1 {
      text-align: center;
      padding: 10px;
    }
  }

  .container > main > section#expressions > div#text-content {
    width: 93%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 20px;
    gap: 30px;
  }

  .container > main > section#expressions > div#text-content > div#text {
    margin: 0px !important;
  }

  .container > main > section#installations {
    width: 100vw;
    padding: 30px;
    margin: 0px;
  }

  .box-installations {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .container
    > main
    > section#installations
    > .box-installations
    #button-installation {
    padding-top: 50px;
  }


  .container > main > section#integrations {
    padding-top: 0px !important;
    margin-top: 0px !important;

    & h1 {
      text-align: center;
      margin: 10px;
    }
  }

  .container > main > section#integrations > div#text-content {
    width: 93%;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 20px;
    gap: 30px;
  }

  .container > main > section#integrations > div#text-content > div#text {
    margin: 0px !important;
  }

  .text {
    width: 100% !important;
  }
}
