@keyframes animationNave {
  0% {
    top: -3.1%;
  }
  25% {
    top: 17%;
  }
  50% {
    top: 36%;
  }
  75% {
    top: 56%;
  }
  85% {
    top: 76%;
  }
  100% {
    top: 96%;
  }
}

@keyframes introNave {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: translateY(1.1);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(350deg);
  }
  100% {
    transform: rotate(400deg);
  }
}

@keyframes animationNotificationsRequest {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}